body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1140px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:175px;
  top:53px;
  width:375px;
  height:77px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:77px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:10px;
  top:30px;
  width:105px;
  height:45px;
}
#u3_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
}
#u5 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u5_img.selected {
}
#u5.selected {
}
#u6 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u8 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u4_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u10 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u11 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:436px;
  top:13px;
  width:100px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:170px;
  top:150px;
  width:966px;
  height:726px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:966px;
  height:726px;
}
