body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:170px;
  top:63px;
  width:129px;
  height:37px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:330px;
  top:330px;
  width:100px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:199px;
  top:330px;
  width:100px;
  height:30px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:10px;
  top:70px;
  width:131px;
  height:245px;
}
#u7_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u9 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u9_img.selected {
}
#u9.selected {
}
#u10 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u12 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u8_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u14 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u15 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:0px;
  top:40px;
  width:80px;
  height:20px;
}
#u17 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u17_img.selected {
}
#u17.selected {
}
#u18 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u20 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u16_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u22 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u23 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:0px;
  top:80px;
  width:80px;
  height:20px;
}
#u25 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u25_img.selected {
}
#u25.selected {
}
#u26 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u28 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u24_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u30 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u31 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:0px;
  top:120px;
  width:80px;
  height:20px;
}
#u33 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u33_img.selected {
}
#u33.selected {
}
#u34 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u36 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u32_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
}
#u38 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u39 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:20px;
  top:40px;
  width:106px;
  height:20px;
}
#u41 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u42 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u44 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u45 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:20px;
  top:80px;
  width:80px;
  height:20px;
}
#u47 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u48 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:20px;
  top:100px;
  width:80px;
  height:20px;
}
#u50 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u51 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:140px;
  top:43px;
  width:10px;
  height:497px;
}
#u52_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u52_end {
  position:absolute;
  left:-5px;
  top:480px;
  width:20px;
  height:18px;
}
#u52_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:497px;
}
#u54 {
  position:absolute;
  left:69px;
  top:10px;
  width:241px;
  height:28px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:28px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:12px;
  top:38px;
  width:948px;
  height:10px;
}
#u56_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_end {
  position:absolute;
  left:931px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_line {
  position:absolute;
  left:0px;
  top:5px;
  width:948px;
  height:1px;
}
#u57 {
  position:absolute;
  left:20px;
  top:10px;
  width:39px;
  height:28px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:28px;
}
#u58 {
  position:absolute;
  left:2px;
  top:6px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:165px;
  top:124px;
  width:65px;
  height:16px;
  text-align:right;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:165px;
  top:156px;
  width:65px;
  height:16px;
  text-align:right;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:165px;
  top:188px;
  width:65px;
  height:16px;
  text-align:right;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:165px;
  top:222px;
  width:65px;
  height:16px;
  text-align:right;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:165px;
  top:254px;
  width:65px;
  height:16px;
  text-align:right;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:250px;
  top:120px;
  width:200px;
  height:25px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u70 {
  position:absolute;
  left:250px;
  top:184px;
  width:200px;
  height:25px;
}
#u70_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u71 {
  position:absolute;
  left:250px;
  top:217px;
  width:200px;
  height:25px;
}
#u71_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u72 {
  position:absolute;
  left:250px;
  top:250px;
  width:200px;
  height:25px;
}
#u72_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u73 {
  position:absolute;
  left:250px;
  top:153px;
  width:200px;
  height:22px;
}
#u73_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u73_input:disabled {
  color:grayText;
}
