body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1140px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:170px;
  top:70px;
  width:257px;
  height:37px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:170px;
  top:146px;
  width:456px;
  height:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:28px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:170px;
  top:190px;
  width:966px;
  height:726px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:966px;
  height:726px;
}
#u5 {
  position:absolute;
  left:710px;
  top:94px;
  width:100px;
  height:30px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:69px;
  top:10px;
  width:241px;
  height:28px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:28px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:12px;
  top:38px;
  width:948px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:931px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:948px;
  height:1px;
}
#u11 {
  position:absolute;
  left:20px;
  top:10px;
  width:39px;
  height:28px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:28px;
}
#u12 {
  position:absolute;
  left:2px;
  top:6px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:10px;
  top:70px;
  width:131px;
  height:245px;
}
#u14_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u16 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u16_img.selected {
}
#u16.selected {
}
#u17 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u19 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u15_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u21 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u22 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:0px;
  top:40px;
  width:80px;
  height:20px;
}
#u24 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u24_img.selected {
}
#u24.selected {
}
#u25 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u27 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u23_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u29 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u30 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:0px;
  top:80px;
  width:80px;
  height:20px;
}
#u32 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u32_img.selected {
}
#u32.selected {
}
#u33 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u35 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u31_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u36 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u37 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u38 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:0px;
  top:120px;
  width:80px;
  height:20px;
}
#u40 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u40_img.selected {
}
#u40.selected {
}
#u41 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u43 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u39_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u44 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
}
#u45 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u46 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:20px;
  top:40px;
  width:106px;
  height:20px;
}
#u48 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u49 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u51 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u52 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:20px;
  top:80px;
  width:80px;
  height:20px;
}
#u54 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u55 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:20px;
  top:100px;
  width:80px;
  height:20px;
}
#u57 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u58 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:140px;
  top:43px;
  width:10px;
  height:497px;
}
#u59_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u59_end {
  position:absolute;
  left:-5px;
  top:480px;
  width:20px;
  height:18px;
}
#u59_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:497px;
}
