body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:184px;
  top:70px;
  width:315px;
  height:37px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:425px;
  top:510px;
  width:125px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:260px;
  top:510px;
  width:110px;
  height:30px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:187px;
  top:168px;
  width:53px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:260px;
  top:164px;
  width:200px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9 {
  position:absolute;
  left:213px;
  top:203px;
  width:27px;
  height:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:260px;
  top:203px;
  width:200px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12 {
  position:absolute;
  left:187px;
  top:245px;
  width:53px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:260px;
  top:245px;
  width:200px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u15 {
  position:absolute;
  left:213px;
  top:294px;
  width:27px;
  height:16px;
  text-align:right;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:260px;
  top:294px;
  width:200px;
  height:22px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u17_input:disabled {
  color:grayText;
}
#u18 {
  position:absolute;
  left:170px;
  top:344px;
  width:70px;
  height:16px;
  text-align:right;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:260px;
  top:341px;
  width:200px;
  height:22px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u20_input:disabled {
  color:grayText;
}
#u21 {
  position:absolute;
  left:187px;
  top:389px;
  width:53px;
  height:16px;
  text-align:right;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:260px;
  top:389px;
  width:200px;
  height:25px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24 {
  position:absolute;
  left:187px;
  top:431px;
  width:53px;
  height:16px;
  text-align:right;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:260px;
  top:431px;
  width:200px;
  height:25px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u28 {
  position:absolute;
  left:69px;
  top:10px;
  width:241px;
  height:28px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:28px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:12px;
  top:38px;
  width:948px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:931px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:948px;
  height:1px;
}
#u31 {
  position:absolute;
  left:20px;
  top:10px;
  width:39px;
  height:28px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:28px;
}
#u32 {
  position:absolute;
  left:2px;
  top:6px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:10px;
  top:70px;
  width:131px;
  height:245px;
}
#u34_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u36 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u36_img.selected {
}
#u36.selected {
}
#u37 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u39 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u35_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u41 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u42 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:0px;
  top:40px;
  width:80px;
  height:20px;
}
#u44 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u44_img.selected {
}
#u44.selected {
}
#u45 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u47 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u43_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u49 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u50 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:0px;
  top:80px;
  width:80px;
  height:20px;
}
#u52 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u52_img.selected {
}
#u52.selected {
}
#u53 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u55 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u51_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u56 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u57 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u58 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:0px;
  top:120px;
  width:80px;
  height:20px;
}
#u60 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u60_img.selected {
}
#u60.selected {
}
#u61 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u63 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u59_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u64 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
}
#u65 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u66 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:20px;
  top:40px;
  width:106px;
  height:20px;
}
#u68 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u69 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u71 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u72 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:20px;
  top:80px;
  width:80px;
  height:20px;
}
#u74 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u75 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:20px;
  top:100px;
  width:80px;
  height:20px;
}
#u77 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u78 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:140px;
  top:43px;
  width:10px;
  height:497px;
}
#u79_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u79_end {
  position:absolute;
  left:-5px;
  top:480px;
  width:20px;
  height:18px;
}
#u79_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:497px;
}
