body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:170px;
  top:70px;
  width:193px;
  height:37px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:213px;
  top:350px;
  width:150px;
  height:30px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:400px;
  top:350px;
  width:150px;
  height:30px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:177px;
  top:194px;
  width:53px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:250px;
  top:190px;
  width:200px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9 {
  position:absolute;
  left:178px;
  top:239px;
  width:53px;
  height:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:251px;
  top:235px;
  width:200px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13 {
  position:absolute;
  left:69px;
  top:10px;
  width:241px;
  height:28px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:28px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:12px;
  top:38px;
  width:948px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:931px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:948px;
  height:1px;
}
#u16 {
  position:absolute;
  left:20px;
  top:10px;
  width:39px;
  height:28px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:28px;
}
#u17 {
  position:absolute;
  left:2px;
  top:6px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:10px;
  top:70px;
  width:131px;
  height:245px;
}
#u19_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u21 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u21_img.selected {
}
#u21.selected {
}
#u22 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u24 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u20_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u25 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u26 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u27 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:0px;
  top:40px;
  width:80px;
  height:20px;
}
#u29 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u29_img.selected {
}
#u29.selected {
}
#u30 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u32 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u28_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u33 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u34 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u35 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:0px;
  top:80px;
  width:80px;
  height:20px;
}
#u37 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u37_img.selected {
}
#u37.selected {
}
#u38 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u40 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u36_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u42 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u43 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:0px;
  top:120px;
  width:80px;
  height:20px;
}
#u45 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u45_img.selected {
}
#u45.selected {
}
#u46 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u48 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u44_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49 {
  position:absolute;
  left:20px;
  top:20px;
  width:106px;
  height:20px;
}
#u50 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u51 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:20px;
  top:40px;
  width:106px;
  height:20px;
}
#u53 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u54 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u56 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u57 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:20px;
  top:80px;
  width:80px;
  height:20px;
}
#u59 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u60 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:20px;
  top:100px;
  width:80px;
  height:20px;
}
#u62 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u63 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:140px;
  top:43px;
  width:10px;
  height:497px;
}
#u64_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u64_end {
  position:absolute;
  left:-5px;
  top:480px;
  width:20px;
  height:18px;
}
#u64_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:497px;
}
