body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:520px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:15px;
  top:40px;
  width:105px;
  height:45px;
}
#u1_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
}
#u3 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u3_img.selected {
}
#u3.selected {
}
#u4 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:22px;
  top:0px;
  width:71px;
  height:20px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
}
#u6 {
  position:absolute;
  left:3px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u2_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u8 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u9 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:158px;
  top:40px;
  width:278px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:158px;
  top:90px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:158px;
  top:240px;
  width:362px;
  height:100px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:100px;
}
#u15 {
  position:absolute;
  left:2px;
  top:42px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:170px;
  top:250px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:169px;
  top:268px;
  width:196px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:169px;
  top:290px;
  width:188px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:410px;
  top:265px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:158px;
  top:130px;
  width:362px;
  height:80px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:80px;
}
#u25 {
  position:absolute;
  left:2px;
  top:32px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:170px;
  top:140px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:169px;
  top:158px;
  width:196px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:169px;
  top:180px;
  width:188px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:410px;
  top:155px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:371px;
  top:314px;
  width:139px;
  height:16px;
  color:#999999;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:158px;
  top:240px;
  width:362px;
  height:200px;
  overflow:hidden;
  visibility:hidden;
}
#u36_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u36_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:200px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:200px;
}
#u38 {
  position:absolute;
  left:2px;
  top:92px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:52px;
  top:60px;
  width:268px;
  height:16px;
  color:#EB2184;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:120px;
  top:130px;
  width:100px;
  height:30px;
  color:#FFFFFF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
